    <!-- Footer Section Start -->

    <footer class=" max-container text-center">
        <hr class="my-5">
        <p class="px-3">Copyright &copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> <b>Khurram Shehzad.</b> All Rights Reserved.</p>
  
      </footer>

    <!-- Footer Section Ends -->

    <!-- Scroll Up -->
    <a href="#home" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<!-- Aos Script -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Javascript Source -->
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="../assets/js/all.js"></script>
</body>

</html>