/* Header Height */
$header-height: 3.5rem;

/* CSS Variables */
:root {
    --hue-color: 250; /* Set your default hue value here */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --container-color-alt: #fff;
    --skill-color: #000;
    --nav-color: #fff;
}

/* Sass Variables */

/* HSL Colour Mode */
$hue-color: 250;
$first-color: hsl($hue-color, 69%, 61%);
$first-color-second: hsl($hue-color, 69%, 61%);
$first-color-alt: hsl($hue-color, 57%, 53%);
$first-color-lighter: hsl($hue-color, 92%, 85%);
$title-color: hsl($hue-color, 8%, 15%);
$text-color: hsl($hue-color, 8%, 45%);
$text-color-light: hsl($hue-color, 8%, 65%);
$input-color: hsl($hue-color, 70%, 96%);
$body-input: hsl($hue-color, 60%, 99%);

/* Primary Colors */
$white: #fff !default;
$black: #000000 !default;
$body-color: $white !default;

/* Font Family */

$body-font: "Poppins", sans-serif;
$font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !default;

$animation-duration: 200ms;

/* Font Sizes & Line Height Values */
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
);

$fs-min: 12;
$fs-max: 50;

$lh-min: 18;
$lh-max: 42;

/* Font Sizes */

$big-font-size: 3rem;
$h1-font-size: 1.75rem;
$medium-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 1.135rem;
$small-font-size: 1rem;
$smaller-font-size: 0.8rem;
